<form name="altaCliente">
  <div class="form-group">
    <label for="nombre">Nombre completo de cliente:</label>
    <input class="form-control"
           cam-variable-type="String"
           cam-variable-name="nombre"
           name="nombre" />
  </div>
  <div class="form-group">
    <label for="tel">Teléfono:</label>
    <input class="form-control"
           cam-variable-type="String"
           cam-variable-name="tel"
           name="tel"
          	/>
  </div>
  <div class="form-group">
    <label for="correo">Correo electrónico:</label>
    <input class="form-control"
           cam-variable-type="String"
           cam-variable-name="correo"
           name="correo"
          	/>
  </div>
  <div class="form-group">
    <label for="dom">Domicilio:</label>
    <input class="form-control"
           cam-variable-type="String"
           cam-variable-name="dom"
           name="dom" />
  </div>
</form>