<form name="asignaProyecto">
  <div class="form-group">
    <label for="id">ID de proyecto</label>
    <input class="form-control"
           cam-variable-type="int"
           cam-variable-name="id"
           name="id" 
           readonly="true" />
  </div>
  <div class="form-group">
    <label for="nombreIng">Asignar a (Nombre):</label>
    <input class="form-control"  
           cam-variable-type="String"
           cam-variable-name="nombreIng"
           name="nombreIng"
          	/>
  </div>
</form>