<form name="costosAExcel">
  <div class="form-group">
    <label for="id">ID de proyecto</label>
    <input class="form-control"
           cam-variable-type="int"
           cam-variable-name="id"
           name="id" 
           readonly="true" />
  </div>
  <div class="form-group">
    <label for="precio">Precio total de material:</label>
    <input class="form-control"
           cam-variable-type="int"
           cam-variable-name="precio"
           name="precio"  />
  </div>
</form>