<form name="estadoCotizacion">
  <div class="form-group">
    <label for="id">ID de proyecto</label>
    <input class="form-control"
           cam-variable-type="int"
           cam-variable-name="id"
           name="id" 
           readonly="true" />
  </div>
  <div class="form-group">
  	<label for="estado">Estado de cotización:</label>
    <select cam-variable-name="estado"
        cam-variable-type="String">
	  <option value="No aprobada">No aprobada</option>
	  <option value="Aprobada">Aprobada</option>
	  <option value="En espera">En espera</option>
	  <option value="Pagada">Pagada</option>
	</select>
  </div>
</form>