<form name="evaluarRequerimientos">
  <div class="form-group">
    <label for="id">ID de proyecto</label>
    <input class="form-control"
           cam-variable-type="int"
           cam-variable-name="id"
           name="id" 
           readonly="true" />
  </div>
  <div class="form-group">
    <label for="req">Descripción de requerimientos:</label>
    <textarea class="form-control" 
    		cam-variable-name="req"
          	cam-variable-type="String"
          	name="req">
	</textarea>
  </div>
</form>