<form name="solicitud">
  <div class="form-group">
     First name: <input type="text" name="fname"><br>
  Last name: <input type="text" name="lname"><br>
  Email: <input type="text" name = "email"><br>
  <input type="submit" value="Submit">
  </div>
</form>