<form name="tiempoEstimado">
  <div class="form-group">
    <label for="id">ID de proyecto</label>
    <input class="form-control"
           cam-variable-type="int"
           cam-variable-name="id"
           name="id" 
           readonly="true" />
  </div>
  <div class="form-group">
    <label for="tiempo">Tiempo estimado en horas:</label>
    <textarea class="form-control" 
    		cam-variable-name="tiempo"
          	cam-variable-type="int"
          	name="tiempo">
	</textarea>
  </div>
</form>